body {
    background: url("../../assest/image/contentBg.jpg") no-repeat fixed;
    background-size: 100% 100%;
}

.layui-layout-admin .layui-header {
    background-color: transparent;
    border-bottom: 1px solid rgb(195, 174, 154);
}

.layui-layout-admin .layui-logo {
    border-right: 1px solid rgb(195, 174, 154);
}

.layui-nav .layui-this a, .layui-nav .layui-nav-item a:hover {
    color: #252424;
}

.layui-logo {
    background: url("../../assest/image/logo.png") no-repeat center center;
    background-size: contain;
}

.layui-bg-black {
    background-color: transparent !important;
    color: #fff !important;
    border-right: 1px solid rgb(195, 174, 154);
}

.layui-nav {
    background-color: transparent !important;
}

.layui-nav-tree .layui-this, .layui-nav-tree .layui-this > a,
.layui-nav-tree .layui-this > a:hover, .layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this a {
    background-color: transparent;
}

.layui-nav-tree .layui-this {
    /* background-color: #2b2133; */
    background: url('/assest/image/index/selectedBg.png') no-repeat;
    background-size: cover;
}

.layui-nav .layui-nav-item a {
    color: rgba(175, 149, 126, 0.7);

}

.layui-nav-item-a {

    padding: 0 0px !important;
}

.layui-nav-item-i, .layui-nav-item-span {
    width: 50%;
}

.layui-nav-item-span {
    text-align: left;
}

.layui-nav-tree .layui-nav-item a:hover {
    background-color: transparent;
}

.layui-nav-tree .layui-nav-bar {
    margin-top: 35px;
}

#menu .layui-nav-item {
    margin-top: 35px;
}

.layui-nav .layui-this a {
    color: white ;
    border-bottom: 0 !important;
}

.layui-nav-bar, .layui-nav .layui-this:after, .layui-nav-tree .layui-nav-itemed:after {

    background-color: transparent;
}

.layui-nav-tree .layui-nav-bar {
    background-color: transparent;
}

.layui-nav-item-a-icon {
    width: 25%;
    display: inline-block;
    line-height: 43px;
    text-align: right;
    margin-right: 10px;
}

.layui-nav-item-a-icon > span {
    font-size: 26px;
}

.layui-nav-item-a-title {
    width: 35%;
    display: inline-block;
    line-height: 43px;
    text-align: left;
}

.layui-nav-item-a-title > span {
    font-size: 23px;
}

.layui-body {
    margin-right: -15px;
}

.layui-layout-admin .layui-body {

    bottom: 0px;
}

iframe {
    border: 0px;
    padding: 0px;
}

.display_none {
    display: none !important;
}

.userManage {
    position: relative;
}

.showForm #editPasswordContainer {
    display: block !important;
}

#editPasswordContainer {
    display: none;
    position: absolute;
    top: 57px;
    width: 320px;
    padding: 10px;
    left: -1px;
    /*color: red;*/
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #c3ae9a;
    z-index: 10;
}

.showForm {
    background: #fff;
    position: relative;
    border: 1px solid #c3ae9a;
    border-bottom: 0;
}

.showForm > a {
    position: relative;
    z-index: 11;
    background: #fff;
    color: #c5b1a0 !important;
}

.over-lay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
}
.showForm .over-lay{
    display: block;
}

/*.layui-nav .layui-this a{*/
    /*color: rgba(132, 113, 95, 0.7);*/
/*}*/

.layui-layout-right .layui-nav-item a {
    color: rgba(132, 113, 95, 0.7);
}
.layui-form-label{

    color: #312f2df0;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 15px;
}

.layui-input{
    border: 1px solid #0000006e;
    border-radius: 5px;
}
.layui-btn{
    background-color: #33312ecf;


    width: 65px;
}